<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokenatra</title>
    <link rel="stylesheet" type="text/css" href="css/pokestyle.css">
  </head>
  <body>
    <h2>Pokemon</h2>


    <% @pokemon.each do |pokemon| %>

       <a><%= pokemon.name %></a>
       <p><%= pokemon.id %></p>

      <% end %>

  </body>
</html>
